<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bbe5d24a-d4f7-425a-abd3-5ee15d686016/resourceGroups/VitoAPI/providers/Microsoft.Web/sites/VitoTestAPI20210125111558</ResourceId>
    <ResourceGroup>VitoAPI</ResourceGroup>
    <ApiResourceId>/subscriptions/bbe5d24a-d4f7-425a-abd3-5ee15d686016/resourceGroups/VitoAPI/providers/Microsoft.ApiManagement/service/Vitoapi/apis/VitoAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vitotestapi20210125111558.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>486871ab-0c94-4ee9-8447-6024ff305fde</ProjectGuid>
    <MSDeployServiceURL>vitotestapi20210125111558.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VitoTestAPI20210125111558</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VitoTestAPI20210125111558</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>